### LSE Data Analytics Online Career Accelerator

# Course 2: Data Analytics using Python

## Assignment: Diagnostic Analysis using Python

Youâ€™ll be working with real-world data to address a problem faced by the National Health Service (NHS). The analysis will require you to utilise Python to explore the available data, create visualisations to identify trends, and extract meaningful insights to inform decision-making.

# Assignment activity 1

### My GitHub repository.
[Click here](https://github.com/rohitabraham86/LSE_DA_NHS_analysis_rohit) to go to my GitHub repository.

# Assignment activity 2

### Prepare your workstation

In [5]:
# Import the necessary libraries.
import pandas as pd
import numpy as np
import datetime
# import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Optional - Ignore warnings.
import warnings
warnings.filterwarnings('ignore')

In [128]:
# Import and sense-check the actual_duration.csv data set as ad.
ad = pd.read_csv('actual_duration.csv')

# View the DataFrame.
ad.head()

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [7]:
# Determine whether there are missing values.
print("The sum of missing values in the resepective columns are below:\n\n",ad.isna().sum())

The sum of missing values in the resepective columns are below:

 sub_icb_location_code        0
sub_icb_location_ons_code    0
sub_icb_location_name        0
icb_ons_code                 0
region_ons_code              0
appointment_date             0
actual_duration              0
count_of_appointments        0
dtype: int64

In [8]:
# Determine the metadata of the data set.
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB

In [9]:
# Determine the descriptive statistics of the data set.
ad.describe()

       count_of_appointments
count          137793.000000
mean             1219.080011
std              1546.902956
min                 1.000000
25%               194.000000
50%               696.000000
75%              1621.000000
max             15400.000000

In [10]:
# Import and sense-check the appointments_regional.csv data set as ar.
ar = pd.read_csv('appointments_regional.csv')

# View the DataFrame.
ar.head()

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971

In [11]:
# Determine whether there are missing values.
print("The sum of missing values in the resepective columns are below:\n\n",ar.isna().sum())

The sum of missing values in the resepective columns are below:

 icb_ons_code                         0
appointment_month                    0
appointment_status                   0
hcp_type                             0
appointment_mode                     0
time_between_book_and_appointment    0
count_of_appointments                0
dtype: int64

In [12]:
# Determine the metadata of the data set.
ar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB

In [13]:
# Determine the descriptive statistics of the data set.
ar.describe()

       count_of_appointments
count          596821.000000
mean             1244.601857
std              5856.887042
min                 1.000000
25%                 7.000000
50%                47.000000
75%               308.000000
max            211265.000000

In [129]:
# Import and sense-check the national_categories.xlsx data set as nc.
nc = pd.read_excel('national_categories.xlsx')

# View the DataFrame.
nc.head()

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [15]:
# Determine whether there are missing values.
print("The sum of missing values in the resepective columns are below:\n\n",nc.isna().sum())

The sum of missing values in the resepective columns are below:

 appointment_date         0
icb_ons_code             0
sub_icb_location_name    0
service_setting          0
context_type             0
national_category        0
count_of_appointments    0
appointment_month        0
dtype: int64

In [16]:
# Determine the metadata of the data set.
nc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB

In [17]:
# Determine the descriptive statistics of the data set.
nc.describe()

       count_of_appointments
count          817394.000000
mean              362.183684
std              1084.576600
min                 1.000000
25%                 7.000000
50%                25.000000
75%               128.000000
max             16590.000000

### Explore the data set

**Question 1:** How many locations are there in the data set?

In [34]:
# Determine the number of locations.
unique_loc = nc['sub_icb_location_name'].value_counts()

# Count of the unique location.
total_location = unique_loc.count()

# View the output.
print("The total locations in the data set are",total_location)
unique_loc.to_frame()

The total locations in the data set are 106

                                             sub_icb_location_name
NHS North West London ICB - W2U3Z                            13007
NHS Kent and Medway ICB - 91Q                                12637
NHS Devon ICB - 15N                                          12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V                  12171
NHS North East London ICB - A3A8R                            11837
...                                                            ...
NHS North East and North Cumbria ICB - 00N                    4210
NHS Lancashire and South Cumbria ICB - 02G                    4169
NHS Cheshire and Merseyside ICB - 01V                         3496
NHS Cheshire and Merseyside ICB - 01T                         3242
NHS Greater Manchester ICB - 00V                              2170

[106 rows x 1 columns]

**Question 2:** What are the five locations with the highest number of records?

In [199]:
# Determine the top five locations based on record count.
unique_loc_sort = nc['sub_icb_location_name'].value_counts().sort_values(ascending=False)

# View the output.
print("The five locations with the highest number of records are:\n\n",unique_loc_sort.head().to_frame())

The five locations with the highest number of records are:

                                              sub_icb_location_name
NHS North West London ICB - W2U3Z                            13007
NHS Kent and Medway ICB - 91Q                                12637
NHS Devon ICB - 15N                                          12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V                  12171
NHS North East London ICB - A3A8R                            11837

**Question 3:** How many service settings, context types, national categories, and appointment statuses are there?

In [31]:
# Determine the number of service settings.
ss = nc['service_setting'].value_counts()

# Count of the service settings.
total_ss = ss.count()

# View the output.
print("\nThe total service setting in the data set is",total_ss)
ss.to_frame()

The total service setting in the data set is 5

                           service_setting
General Practice                    359274
Primary Care Network                183790
Other                               138789
Extended Access Provision           108122
Unmapped                             27419

In [196]:
# Determine the number of context types.
ct = nc['context_type'].value_counts()

# Count of the context type.
total_ct = ct.count()

# View the output.
print("\nThe total context type in the data set is",total_ct)
ct.to_frame()

The total context type in the data set is 3

                        context_type
Care Related Encounter        700481
Inconsistent Mapping           89494
Unmapped                       27419

In [201]:
# Determine the number of national categories.
nat_c = nc['national_category'].value_counts()

# Count of the national category.
total_nat_c = nat_c.count()

# View the output.
print("\nThe total type of national category in the data set is",total_nat_c)
nat_c.to_frame()

The total type of national category in the data set is 18

                                                    national_category
Inconsistent Mapping                                            89494
General Consultation Routine                                    89329
General Consultation Acute                                      84874
Planned Clinics                                                 76429
Clinical Triage                                                 74539
Planned Clinical Procedure                                      59631
Structured Medication Review                                    44467
Service provided by organisation external to th...              43095
Home Visit                                                      41850
Unplanned Clinical Activity                                     40415
Patient contact during Care Home Round                          28795
Unmapped                                                        27419
Care Home Visit                                                 26644
Social Prescribing Service                                      26492
Care Home Needs Assessment & Personalised Care ...              23505
Non-contractual chargeable work                                 20896
Walk-in                                                         14179
Group Consultation and Group Education                           5341

In [204]:
# Determine the number of appointment status.
app_stat = ar['appointment_status'].value_counts()

# Count of the appointment statuses.
total_app_stat = app_stat.count()

print("\nThe total type of appointment status in the data set is",total_app_stat)
app_stat.to_frame()

The total type of appointment status in the data set is 3

          appointment_status
Attended              232137
Unknown               201324
DNA                   163360

#

# Assignment activity 3

### Continue to explore the data and search for answers to more specific questions posed by the NHS.

**Question 1:** Between what dates were appointments scheduled?

In [130]:
# View the first five rows of appointment_date for the ad DataFrame to determine the date format.

print(ad.dtypes)

ad.head()

sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [131]:
# View the first five rows of appointment_date for the nc DataFrame to determine the date format.

print(nc.dtypes)

nc.head()

appointment_date         datetime64[ns]
icb_ons_code                     object
sub_icb_location_name            object
service_setting                  object
context_type                     object
national_category                object
count_of_appointments             int64
appointment_month                object
dtype: object

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [125]:
# Change the date format of ad['appointment_date'].
ad['appointment_date'] = pd.to_datetime(ad['appointment_date'], format="%d-%b-%y")

print(ad.dtypes)
# View the DateFrame.
ad.head()

sub_icb_location_code                object
sub_icb_location_ons_code            object
sub_icb_location_name                object
icb_ons_code                         object
region_ons_code                      object
appointment_date             datetime64[ns]
actual_duration                      object
count_of_appointments                 int64
dtype: object

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,16-20 Minutes,730

The date format for both nc and ad dataframe are now datetime64[ns]. Else when we check max() & min() it will take only in alphabetic order instead of the numerical date. Now we can check the following:

In [45]:
# Determine the minimum and maximum dates in the ad DataFrame.

print("The first date of scheduled date is",ad['appointment_date'].min())
print("The last date of scheduled date is",ad['appointment_date'].max())

The first date of scheduled date is 2021-12-01 00:00:00
The last date of scheduled date is 2022-06-30 00:00:00

In [46]:
# Determine the minimum and maximum dates in the nc DataFrame.

print("The first date of scheduled date is",nc['appointment_date'].min())
print("The last date of scheduled date is",nc['appointment_date'].max())

The first date of scheduled date is 2021-08-01 00:00:00
The last date of scheduled date is 2022-06-30 00:00:00

**Question 2:** Which service setting was the most popular for NHS North West London from 1 January to 1 June 2022?

For each of these service settings, determine the number of records available for the period and the location.Â

In [140]:
# Subsetting the national categories dataframe.
nc_subset = nc.loc[:,['appointment_date', 'icb_ons_code', 'sub_icb_location_name', 'context_type',
                      'service_setting','national_category']]

# View the DataFrame.
nc_subset.head()

,appointment_date,icb_ons_code,sub_icb_location_name,context_type,service_setting,national_category
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Care Related Encounter,Primary Care Network,Patient contact during Care Home Round
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Care Related Encounter,Other,Planned Clinics
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Care Related Encounter,General Practice,Home Visit
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Care Related Encounter,General Practice,General Consultation Acute
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Care Related Encounter,General Practice,Structured Medication Review

In [141]:
# Setting the range.
df2 = nc[(nc['appointment_date'] >= "2022-01-01") & (nc['appointment_date'] <= "2022-06-01")]

df2

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month,year,month
3273,2022-01-03,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Planned Clinics,10,2022-01,2022,1
3274,2022-01-03,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Routine,1,2022-01,2022,1
3275,2022-01-04,E54000050,NHS North East and North Cumbria ICB - 00L,Unmapped,Unmapped,Unmapped,141,2022-01,2022,1
3276,2022-01-04,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Planned Clinics,75,2022-01,2022,1
3277,2022-01-04,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Planned Clinical Procedure,11,2022-01,2022,1
...,...,...,...,...,...,...,...,...,...,...
816509,2022-06-01,E54000054,NHS West Yorkshire ICB - X2C4Y,General Practice,Care Related Encounter,Care Home Visit,5,2022-06,2022,6
816510,2022-06-01,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,General Consultation Acute,43,2022-06,2022,6
816511,2022-06-01,E54000054,NHS West Yorkshire ICB - X2C4Y,General Practice,Care Related Encounter,General Consultation Routine,3205,2022-06,2022,6
816512,2022-06-01,E54000054,NHS West Yorkshire ICB - X2C4Y,General Practice,Care Related Encounter,Home Visit,19,2022-06,2022,6
816513,2022-06-01,E54000054,NHS West Yorkshire ICB - X2C4Y,General Practice,Care Related Encounter,Planned Clinical Procedure,350,2022-06,2022,6

In [142]:
# Filtering for NHS North West London. This location contains the word 'W2U3Z'.
sub_loc_W2U3Z = df2[df2['sub_icb_location_name'].apply(lambda x:
                                              'W2U3Z' in x.title())]
sub_loc_W2U3Z

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month,year,month
800289,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Unmapped,Unmapped,Unmapped,496,2022-01,2022,1
800290,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Primary Care Network,Care Related Encounter,Clinical Triage,19,2022-01,2022,1
800291,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Other,Inconsistent Mapping,Inconsistent Mapping,1,2022-01,2022,1
800292,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,General Practice,Inconsistent Mapping,Inconsistent Mapping,16,2022-01,2022,1
800293,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Primary Care Network,Care Related Encounter,Planned Clinics,29,2022-01,2022,1
...,...,...,...,...,...,...,...,...,...,...
806220,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,Home Visit,4,2022-06,2022,6
806221,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,General Consultation Routine,27,2022-06,2022,6
806222,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,General Practice,Care Related Encounter,Unplanned Clinical Activity,626,2022-06,2022,6
806223,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,General Consultation Acute,224,2022-06,2022,6
806224,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,Clinical Triage,96,2022-06,2022,6

In [51]:
# Checking the data type.
sub_loc_W2U3Z.dtypes

appointment_date         datetime64[ns]
icb_ons_code                     object
sub_icb_location_name            object
service_setting                  object
context_type                     object
national_category                object
count_of_appointments             int64
appointment_month                object
dtype: object

In [143]:
# Changing the date format to diplay like '01 January 2022'.
sub_loc_W2U3Z['appointment_date'] = sub_loc_W2U3Z['appointment_date'].dt.strftime('%d %B %Y')

#### Specify the date of appointments as 1 January 2022 to 1 June 2022.

In [144]:
sub_loc_W2U3Z

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month,year,month
800289,01 January 2022,E54000027,NHS North West London ICB - W2U3Z,Unmapped,Unmapped,Unmapped,496,2022-01,2022,1
800290,01 January 2022,E54000027,NHS North West London ICB - W2U3Z,Primary Care Network,Care Related Encounter,Clinical Triage,19,2022-01,2022,1
800291,01 January 2022,E54000027,NHS North West London ICB - W2U3Z,Other,Inconsistent Mapping,Inconsistent Mapping,1,2022-01,2022,1
800292,01 January 2022,E54000027,NHS North West London ICB - W2U3Z,General Practice,Inconsistent Mapping,Inconsistent Mapping,16,2022-01,2022,1
800293,01 January 2022,E54000027,NHS North West London ICB - W2U3Z,Primary Care Network,Care Related Encounter,Planned Clinics,29,2022-01,2022,1
...,...,...,...,...,...,...,...,...,...,...
806220,01 June 2022,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,Home Visit,4,2022-06,2022,6
806221,01 June 2022,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,General Consultation Routine,27,2022-06,2022,6
806222,01 June 2022,E54000027,NHS North West London ICB - W2U3Z,General Practice,Care Related Encounter,Unplanned Clinical Activity,626,2022-06,2022,6
806223,01 June 2022,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,General Consultation Acute,224,2022-06,2022,6
806224,01 June 2022,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,Clinical Triage,96,2022-06,2022,6

In [133]:
sub_loc_W2U3Z.dtypes

appointment_date         object
icb_ons_code             object
sub_icb_location_name    object
service_setting          object
context_type             object
national_category        object
count_of_appointments     int64
appointment_month        object
dtype: object

#### Service Setting with the most appoinments and the number of service settings.

In [145]:
ss_data = sub_loc_W2U3Z.groupby(['service_setting','sub_icb_location_name'])
ss_data.agg({'sub_icb_location_name':['count']}).sort_values(by=('sub_icb_location_name','count'),ascending=False)

                                                            sub_icb_location_name
                                                                            count
service_setting           sub_icb_location_name
General Practice          NHS North West London ICB - W2U3Z                  2104
Other                     NHS North West London ICB - W2U3Z                  1318
Primary Care Network      NHS North West London ICB - W2U3Z                  1272
Extended Access Provision NHS North West London ICB - W2U3Z                  1090
Unmapped                  NHS North West London ICB - W2U3Z                   152

**Question 3:** Which month had the highest number of appointments?

In [146]:
# Changing the date format of appointment month and splitting into month and year.
nc['appointment_month'] = nc['appointment_date'].dt.strftime('%Y-%m')
nc['year'] = pd.to_datetime(nc['appointment_month']).dt.year
nc['month'] = pd.to_datetime(nc['appointment_month']).dt.month

# Check the new columns.
nc.head()

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month,year,month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08,2021,8
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08,2021,8
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08,2021,8
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08,2021,8
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08,2021,8

In [260]:
month_total = nc.groupby(['year','month'])['count_of_appointments'].sum().sort_values(ascending=False)

month_total.reset_index()

    year  month  count_of_appointments
0   2021     11               30405070
1   2021     10               30303834
2   2022      3               29595038
3   2021      9               28522501
4   2022      5               27495508
5   2022      6               25828078
6   2022      1               25635474
7   2022      2               25355260
8   2021     12               25140776
9   2022      4               23913060
10  2021      8               23852171

**Question 4:** What was the total number of records per month?

In [256]:
rec_month = nc.groupby(['year','month'])['count_of_appointments'].count()
rec_month.sort_values(ascending=False).reset_index()

    year  month  count_of_appointments
0   2022      3                  82822
1   2021     11                  77652
2   2022      5                  77425
3   2021      9                  74922
4   2022      6                  74168
5   2021     10                  74078
6   2021     12                  72651
7   2022      1                  71896
8   2022      2                  71769
9   2022      4                  70012
10  2021      8                  69999

#

# Assignment activity 4

### Create visualisations and identify possible monthly and seasonal trends in the data.

In [ ]:
# Import the necessary libraries.
import seaborn as sns
import matplotlib.pyplot as plt

# Set figure size.
sns.set(rc={'figure.figsize':(15, 12)})

# Set the plot style as white.
sns.set_style('white')

### Objective 1
Create three visualisations indicating the number of appointments per month for service settings, context types, and national categories.

In [ ]:
# Change the data type of the appointment month to string to allow for easier plotting.

In [ ]:
# Aggregate on monthly level and determine the sum of records per month.


# View output.

**Service settings:**

In [ ]:
# Plot the appointments over the available date range, and review the service settings for months.
# Create a lineplot.

**Context types:**

In [ ]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [ ]:
# Plot the appointments over the available date range, and review the context types for months.
# Create a lineplot.

**National categories:**

In [ ]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [ ]:
# Plot the appointments over the available date range, and review the national categories for months.
# Create a lineplot.

### Objective 2
Create four visualisations indicating the number of appointments for service setting per season. The seasons are summer (August 2021), autumn (October 2021), winter (January 2022), and spring (April 2022).

**Summer (August 2021):**

In [ ]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [ ]:
# Look at August 2021 in more detail to allow a closer look.
# Create a lineplot.

**Autumn (October 2021):**

In [ ]:
# Look at October 2021 in more detail to allow a closer look.
# Create a lineplot.

**Winter (January 2022):**

In [ ]:
# Look at January 2022 in more detail to allow a closer look.
# Create a lineplot.

**Spring (April 2022):**

In [ ]:
# Look at April 2022 in more detail to allow a closer look.
# Create a lineplot.

#

# Assignment activity 5

### Analyse tweets from Twitter with hashtags related to healthcare in the UK.

In [ ]:
# Libraries and settings needed for analysis
import pandas as pd
import seaborn as sns

# Set figure size.
sns.set(rc={'figure.figsize':(15, 12)})

# Set the plot style as white.
sns.set_style('white')

# Maximum column width to display
pd.options.display.max_colwidth = 200

In [ ]:
# Load the data set.


# View the DataFrame.

In [ ]:
# Explore the metadata.

In [ ]:
# Explore the data set.

In [ ]:
# Would it be useful to only look at retweeted and favourite tweet messages?
# Explain your answer.

In [ ]:
# Create a new DataFrame containing only the text.


# View the DataFrame.

In [ ]:
# Loop through the messages, and create a list of values containing the # symbol.

In [ ]:
# Display the first 30 records.

In [ ]:
# Convert the series to a DataFrame in preparation for visualisation.


# Rename the columns.

In [ ]:
# Fix the count datatype.


# View the result.

In [ ]:
# Display records where the count is larger than 10.

In [ ]:
# Create a Seaborn barplot indicating records with a count >10 records.

In [ ]:
# Create the plot.


# View the barplot.

#

# Assignment activity 6

### Investigate the main cencerns posed by the NHS.

In [ ]:
# Prepare your workstation.
# Load the appointments_regional.csv file.


# View the DataFrame.

In [ ]:
# Print the min and max dates.

In [ ]:
# Filter the data set to only look at data from 2021-08 onwards.

**Question 1:** Should the NHS start looking at increasing staff levels?

In [ ]:
# Create an aggregated data set to review the different features.


# View the DataFrame.

In [ ]:
# Determine the total number of appointments per month.


# Add a new column to indicate the average utilisation of services.
# Monthly aggregate / 30 to get to a daily value.


# View the DataFrame.

In [ ]:
# Plot sum of count of monthly visits.
# Convert the appointment_month to string data type for ease of visualisation.


# Create a lineplot with Seaborn.

In [ ]:
# Plot monthly capacity utilisation.


# Create a lineplot.

**Question 2:** How do the healthcare professional types differ over time?

In [ ]:
# Create a line plot to answer the question.

**Question 3:** Are there significant changes in whether or not visits are attended?

In [ ]:
# Create a line plot to answer the question.

**Question 4:** Are there changes in terms of appointment type and the busiest months?

In [ ]:
# Create a line plot to answer the question.

**Question 5:** Are there any trends in time between booking an appointment?

In [ ]:
# Create a line plot to answer the question.

**Question 6:** How do the spread of service settings compare?

In [ ]:
# Let's go back to the national category DataFrame you created in an earlier assignment activity.

In [ ]:
# Create a new DataFrame consisting of the month of appointment and the number of appointments.

# View the DataFrame.

In [1]:
# Create a boxplot to investigate spread of service settings.

In [ ]:
# Create a boxplot to investigate the service settings without GP.

#

### Provide a summary of your findings and recommendations based on the analysis.

> Double click to insert your summary.